In [65]:
import pandas as pd
import numpy as np

# Load the dataset
file_path =r"C:\Users\Indra\Downloads\Bengaluru_House_Data.csv"
data = pd.read_csv(file_path)

In [66]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [67]:
data.tail()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [68]:
data.shape

(13320, 9)

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [70]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [71]:
# Fill missing values
data['location'] = data['location'].fillna('Unknown')  # Categorical
data['size'] = data['size'].fillna(data['size'].mode()[0])  # Mode
data['society'] = data['society'].fillna('Unknown')  # Categorical
data['bath'] = data['bath'].fillna(data['bath'].median())  # Numerical
data['balcony'] = data['balcony'].fillna(data['balcony'].median())  # Numerical

In [72]:
print(data.isnull().sum())

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [73]:
# Example preprocessing
from sklearn.preprocessing import LabelEncoder

# Encoding categorical features
label_encoder = LabelEncoder()
data['size'] = label_encoder.fit_transform(data['size'])
data['location'] = label_encoder.fit_transform(data['location'])
data['society'] = label_encoder.fit_transform(data['society'])

In [74]:
print(data.head())

              area_type   availability  location  size  society total_sqft  \
0  Super built-up  Area         19-Dec       419    13      464       1056
1            Plot  Area  Ready To Move       317    19     2439       2600
2        Built-up  Area  Ready To Move      1180    16     2492       1440
3  Super built-up  Area  Ready To Move       757    16     2186       1521
4  Super built-up  Area  Ready To Move       716    13     2492       1200

   bath  balcony   price
0   2.0      1.0   39.07
1   5.0      3.0  120.00
2   2.0      3.0   62.00
3   3.0      1.0   95.00
4   2.0      1.0   51.00

In [75]:
# Check data types of all columns
print(data.dtypes)

# Check unique values of each column for any unexpected strings
for column in data.columns:
    print(f"Unique values in {column}:\n{data[column].unique()}\n")

area_type        object
availability     object
location          int32
size              int32
society           int32
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object
Unique values in area_type:
['Super built-up  Area' 'Plot  Area' 'Built-up  Area' 'Carpet  Area']

Unique values in availability:
['19-Dec' 'Ready To Move' '18-May' '18-Feb' '18-Nov' '20-Dec' '17-Oct'
 '21-Dec' '19-Sep' '20-Sep' '18-Mar' '20-Feb' '18-Apr' '20-Aug' '18-Oct'
 '19-Mar' '17-Sep' '18-Dec' '17-Aug' '19-Apr' '18-Jun' '22-Dec' '22-Jan'
 '18-Aug' '19-Jan' '17-Jul' '18-Jul' '21-Jun' '20-May' '19-Aug' '18-Sep'
 '17-May' '17-Jun' '21-May' '18-Jan' '20-Mar' '17-Dec' '16-Mar' '19-Jun'
 '22-Jun' '19-Jul' '21-Feb' 'Immediate Possession' '19-May' '17-Nov'
 '20-Oct' '20-Jun' '19-Feb' '21-Oct' '21-Jan' '17-Mar' '17-Apr' '22-May'
 '19-Oct' '21-Jul' '21-Nov' '21-Mar' '16-Dec' '22-Mar' '20-Jan' '21-Sep'
 '21-Aug' '14-Nov' '19-Nov' '15-Nov' '16-Jul' '15-Jun' '17-Feb' '20-Nov'
 '20-Jul' '16-Sep' '15-Oct' '15-Dec' '16-Oct' '22-Nov' '15-Aug' '17-Jan'
 '16-Nov' '20-Apr' '16-Jan' '14-Jul']

Unique values in location:
[ 419  317 1180 ...   18  512   87]

Unique values in size:
[13 19 16 18 24 17  0  2  1 28 14 26 21 25 23 22  5 29 30 15  4  6  3 12
 10 20  9 27  7  8 11]

Unique values in society:
[ 464 2439 2492 ... 1810 2444 1702]

Unique values in total_sqft:
['1056' '2600' '1440' ... '1133 - 1384' '774' '4689']

Unique values in bath:
[ 2.  5.  3.  4.  6.  1.  9.  8.  7. 11. 10. 14. 27. 12. 16. 40. 15. 13.
 18.]

Unique values in balcony:
[1. 3. 2. 0.]

Unique values in price:
[ 39.07 120.    62.   ...  40.14 231.   488.  ]

In [76]:
# Function to convert 'total_sqft' to a single numeric value
def convert_sqft_to_num(sqft):
    try:
        if '-' in sqft:  # Handle ranges like "1200-1500"
            sqft_range = sqft.split('-')
            return (float(sqft_range[0]) + float(sqft_range[1])) / 2
        return float(sqft)  # Direct numeric value
    except:
        return None  # Handle any invalid entries

# Apply the conversion
data['total_sqft'] = data['total_sqft'].apply(convert_sqft_to_num)

# Check for any remaining missing values or issues
print(data['total_sqft'].isnull().sum())

46

In [77]:
# Encode categorical columns
data['area_type'] = label_encoder.fit_transform(data['area_type'])
data['availability'] = label_encoder.fit_transform(data['availability'])

In [78]:
print(data.dtypes)

area_type         int32
availability      int32
location          int32
size              int32
society           int32
total_sqft      float64
bath            float64
balcony         float64
price           float64
dtype: object

In [79]:
# Check for missing values in the training set
print(X_train.isnull().sum())

# Check if any columns have NaN values
missing_percentage = (X_train.isnull().sum() / len(X_train)) * 100
print(missing_percentage)

area_type        0
availability     0
location         0
size             0
society          0
total_sqft      34
bath             0
balcony          0
dtype: int64
area_type       0.000000
availability    0.000000
location        0.000000
size            0.000000
society         0.000000
total_sqft      0.319069
bath            0.000000
balcony         0.000000
dtype: float64

In [80]:
# Initialize an imputer for the 'total_sqft' column
imputer = SimpleImputer(strategy='mean')

# Apply imputation to the 'total_sqft' column
X_train['total_sqft'] = imputer.fit_transform(X_train[['total_sqft']])
X_test['total_sqft'] = imputer.transform(X_test[['total_sqft']])

# Check for missing values after imputation
print(X_train.isnull().sum())
print(X_test.isnull().sum())

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
dtype: int64
area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
dtype: int64

In [108]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Step 1: Normalize the data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_train)

# Step 2: Train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, max_depth=20, min_samples_split=10, random_state=42)
rf_model.fit(X_scaled, y_train)

# Step 3: Evaluate the performance on the test set
X_test_scaled = scaler.transform(X_test)
y_pred = rf_model.predict(X_test_scaled)

# Step 4: Calculate the performance metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared Score: {r2}")

Mean Squared Error (MSE): 7568.520350352869
R-squared Score: 0.6445124913416826

In [110]:
# Define features and target
X = data.drop(['price'], axis=1)  # Features
y = data['price']  # Target

# Split the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [112]:
print(f"Training data shape: {X_train.shape}")
print(f"Testing data shape: {X_test.shape}")

Training data shape: (10656, 8)
Testing data shape: (2664, 8)

In [120]:
rf_model.fit(X_train, y_train)
y_pred = rf_model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared Score: {r2}")

Mean Squared Error: 7347.7814454976415
R-squared Score: 0.6548804258544427

In [116]:
# Check if there are any NaN values left in the 'total_sqft' column
print(X_train['total_sqft'].isnull().sum())
print(X_test['total_sqft'].isnull().sum())

34
12

In [118]:
from sklearn.impute import SimpleImputer

# Initialize the imputer for the 'total_sqft' column with the strategy 'mean'
imputer = SimpleImputer(strategy='mean')

# Fit the imputer on the training data and transform both the train and test data
X_train['total_sqft'] = imputer.fit_transform(X_train[['total_sqft']])
X_test['total_sqft'] = imputer.transform(X_test[['total_sqft']])

# Check if there are still missing values after imputation
print(X_train.isnull().sum())  # Check missing values in training data
print(X_test.isnull().sum())   # Check missing values in test data

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
dtype: int64
area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
dtype: int64

In [122]:
# Train the model
rf_model.fit(X_train, y_train)

# Make predictions
y_pred = rf_model.predict(X_test)

In [124]:
X_train['log_total_sqft'] = np.log1p(X_train['total_sqft'])
X_test['log_total_sqft'] = np.log1p(X_test['total_sqft'])

In [126]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

grid_search = GridSearchCV(estimator=RandomForestRegressor(random_state=42), param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)
grid_search.fit(X_train, y_train)

print(f"Best Parameters: {grid_search.best_params_}")
rf_model = grid_search.best_estimator_

Fitting 3 folds for each of 27 candidates, totalling 81 fits
Best Parameters: {'max_depth': 20, 'min_samples_split': 10, 'n_estimators': 100}

In [128]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(rf_model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
print(f"Mean CV Score: {-cv_scores.mean()}")

Mean CV Score: 9487.199258342192

In [130]:
# Retrain the model with the best parameters
best_rf_model = RandomForestRegressor(max_depth=20, min_samples_split=10, n_estimators=100, random_state=42)
best_rf_model.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, min_samples_split=10, random_state=42)

In [132]:
# Make predictions on the test set
y_pred = best_rf_model.predict(X_test)

# Evaluate model performance
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared Score:", r2)

Mean Squared Error: 7411.969032924034
R-squared Score: 0.6518655848439496